<html>
  <head>
    <title></title>

  <body>

  <h2>Calculadora SESCOMP</h2>
  <br/>
<%= form_tag :action => 'indexCalculadora' do %>

    <label> numero 1</label>
    <%= number_field_tag(:valor) %>

    <label> numero 2</label>
    <%= number_field_tag(:valor2) %>
    <br/>

    <input value="calcular" type="submit" />

    <br/>

    <label>soma</label>
    <%= @num3 %>

  <% end %>


  </body>
</html>
