<h1>Editando Contato</h1>

<%= render 'form', contato: @contato, class: 'btn btn-success center-block' %>

<%= link_to 'Visualizar', @contato, class: "btn btn-link" %> |
<%= link_to 'Voltar', contatos_path, class: "btn btn-link" %>
